/* styles/style.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(135deg, #ededed 0%, #dfdfdf 100%);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

p {
  text-align: center;
}

button {
  background-color: #ffffff;
  color: #2193b0;
  border: none;
  padding: 25px;
  border-radius: 10px;
  font-size: 2.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
  /* box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1); */
}

button:hover {
  /* background-color: #d6f0f6; */
  transform: translateY(-4px) scale(1.05);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transform: none;
}

.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  border-radius: 16px;
  min-width: 380px;
  min-height: 400px;
  text-align: center;
  background: rgba(255, 255, 255, 0.95);
  /* box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1); */
}

.buttons-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;

  min-width: 380px;
  margin-top: 24px;
}

.round-result {
  font-size: 1.4em;
  font-weight: 600;
  color: #4a5568;
  /* min-height: 60px; */
  line-height: 1.4;
}

.winner {
  font-size: 1.2rem;
  color: rgb(28, 28, 28);
}

.score-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.score-box {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 12px;
  width: 140px;
  height: 160px;
  border-radius: 16px;
  background-color: #ffffff;
  color: rgb(48, 48, 48);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
  transition: transform 0.2s ease
}

.score-box:hover {
  transform: translateY(-4px);
}

p.player-sign, p.computer-sign {
  font-size: 3rem;
  margin-bottom: 12px
}

@media (max-width: 400px) {
  .result-container {
    min-width: auto;
  }
  
  .buttons-container {
    gap: 15px;
  }
  
  .btn-rock,
  .btn-paper,
  .btn-scissors {
    font-size: 2.5em;
    padding: 15px;
  }
}